<Html>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies/recommended">Recomendados</a></li>
            <li><a href="/movies/new">Nuevas Peliculas</a></li>
            <li><a href="/movies/add">Agregar pelicula</a></li>
            <li><a href="/actors">Actores</a></li>
            <li><a href="/genres">Generos</a></li>
        </ul>
    </header>
</Html>